<h2>Registro usuarios:</h2>
<hr>
<form action="/api/sessions/registro" method="post">

    <input type="text" name="nombre" placeholder="nombre">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="contraseña">
    <br>
    <input type="submit" value="Registrar">

</form>

<br><br>
<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/registro">Registro</a>
    </li>
</ul>